/*  */
/* Основные правила */

body {
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

/*  */
/* Visually hidden */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*  */
/* Стили контейнеров */
.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.container-flex {
  display: flex;
}

.container-spacebetween {
  display: flex;
  justify-content: space-between;
}
/*  */

/*  */
/* Раздел навигации */
.main-navigation {
  display: flex;
  /* flex-direction: row;
  justify-content: space-between; */

  width: 1146px;
  /* height: 154px; */
  margin: 0;
  padding: 0;
  padding-top: 8px;
}

.site-navigation,
.catalog-list,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: flex;
  align-items: center;

  margin-right: 425px;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation .navigation-item {
  padding-right: 28px;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.user-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.user-navigation .navigation-item {
  padding-right: 9px;
}

.main-header-logo {
  margin-right: 10px;
}

.catalog-list {
  display: none;
}

.search-bar {
  display: none;
}

.sign-form {
  display: none;
}

.basket-full{
  display: none;
}

.navigation-item a{
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.schedule-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.schedule {
  margin: 0;
  padding: 0;

  font-weight: 700;
}

.header-tel {
  margin: 0;
  padding: 0;

  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

/* Раздел слайдера */
.slider {
  display: none;
}

/* Раздел баннеров */
.banner-catalog {
  display: flex;

  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  list-style: none;
}

.banner-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.banner-item:first-child {
  margin-right: 70px;
}

.banner-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.banner-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

/* Раздел хитов */
.hits-catalog {
  display: flex;

  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  list-style: none;
}

.hit-item {
  margin-right: 26px;
}

.price-tag {
  position: relative;
}

.hit-price {
  position: absolute;
  top: -65px;

  margin: 0;
  padding: 0;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
}

.hit-kg-icon,
.hit-ruble-icon {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
}

.hit-ruble-icon {
  font-size: 45px;
}

.hit-text {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;

  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.icecream-image {
  border-radius: 50%;
}

.hit-icon {
  position: absolute;
  top: -268px;
}

/* Раздел SEO */
.seo {
  margin-bottom: 40px;
}

.seo-wrapper {
  padding-left: 10px;

  background-color: #f1e7d0;
  background-image: url("../img/wafer-bg.jpg");
  background-repeat: repeat;
  border-radius: 10px;
}

.seo-title {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 18px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

.seo-features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  position: relative;

  width: 514px;
  margin-right: 33px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.seo-feature-icon {
  position: absolute;
  top: -16px;
}

.feature-description {
  margin: 0;
  padding: 0;
  padding-left: 60px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #323232;
}

/* Раздел блога */
.blog-mailing {
  margin-bottom: 40px;
}

.blog-list {
  display: flex;
}

.blog-news {
  width: 560px;
  height: 220px;
  margin-right: 30px;
  padding-left: 25px;

  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.blog-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
}

.blog-news-title {
  display: block;

  width: 282px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;

  text-decoration: underline;
}

/* Раздел рассылки */
.mailing {
  width: 560px;
  padding-top: 30px;
  padding-left: 25px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.mailing-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
}

.mailing-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
}

/* Раздел хлебных крошек */
.breadcrumbs-list {
  display: flex;
  justify-content: space-between;

  width: 220px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs-item::after {
  content: "»";
  padding: 0 5px;

  line-height: 16px;

  text-decoration: none;
}

.breadcrumbs-item:last-child {
  text-decoration: none;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

/* Раздел фильтров */
.filters {
  margin-bottom: 40px;
}

.filters-sorting,
.filters-pricing,
.fat-title,
.filler-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}

.filters-sorting-select {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  width: 194px;
  height: 37px;
  background-color: #f8f7f4;
  opacity: 0.2;
}

/* .sorting-option {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
} */

.filters-fat-list,
.filler-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.radio-container,
.checkbox-container {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.filters-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

/* Раздел каталога */
.goods-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.good-item {
  width: 267px;

  margin: 0;
  margin-right: 26px;
  margin-bottom: 41px;
  padding: 0;
}

.good-item:nth-child(4n) {
  margin-right: 0;
}

/* Раздел пагинации */
.pagination-list {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-bottom: 33px;

  list-style: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination-item {
  margin-right: 15px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.pagination-cover {
  margin-right: 10px;
}

.pagination-item,
.pagination-cover:last-child {
  margin-right: 0;
}

.pagination-item-current {
  color: #323232;
}

/* Раздел контактов */
.contacts {
  height: 430px;
  margin-bottom: 20px;
}

.map {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 416px;
  margin: 0;
  padding: 0;

  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.business-card {
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 1;

  width: 302px;
  min-height: 260px;
  margin-top: 60px;
  padding: 28px 17px;

  background-color: #ffffff;
  border-radius: 10px;
}

.business-card-aligner {
  display: flex;
  justify-content: flex-end;
}



.card-adresstext {
  width: 158px;

  margin: 0;
  padding: 0;
  padding-bottom: 12px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
}

.card-adress {
  margin: 0;
  padding: 0;
  padding-bottom: 14px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #323232;
}

.card-teltext {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
}

.card-tel {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #323232;
}

.card-schedule {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #323232;
}

.modal-writeus {
  margin: 0;
  padding: 0;

  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;

  background-color: #ed5a3c;
}

/*  */
/* Раздел футера */
.main-footer {
  margin-bottom: 25px;
}

/* Раздел социальных сетей */
.social-button-list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button-container {
  margin-right: 11px;
}

/* Раздел меню */
.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 350px;
  margin: 0;
  padding: 0;

  list-style: none
}

.menu-item:first-child {
  position: relative;
  padding-left: 15px;

  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.menu-item:first-child::before {
  content: "";
  backgrou-image: url("../img/heart-icon.svg");
}

.menu-item {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 9px;
  padding: 0;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

/* Раздел мейдин */
.made-in-text,
.made-in-htmlacademy {
  margin: 0;
  padding: 0;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;
}

.made-in-htmlacademy {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

/* Раздел модального окна */
.modal {
  display: none;
}

.modal-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

.writeus-item-name,
.writeus-item-email,
.writeus-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}

.writeus-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
}
